.primaryButton {
    display: flex;
    height: 44px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: var(--ifm-color-primary);
    color: var(--ifm-color-neutral-light-00);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.primaryButton:hover {
    background-color: var(--ifm-color-primary-dark);
    cursor: pointer;
    text-decoration: none;
    color: var(--ifm-color-neutral-light-00);
}
