.secondaryButton {
    display: flex;
    height: 44px;
    min-height: 44px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 2px solid var(--ifm-color-primary-lighter);
    background-color: transparent;
    color: var(--ifm-color-primary-lighter);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.24px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.secondaryButton:hover {
    background-color: rgba(194, 194, 229, 0.1);
    cursor: pointer;
    text-decoration: none;
    color: var(--ifm-color-primary-lighter);
    border-color: var(--ifm-color-primary-lighter);
}
