.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 153px;
  height: 115px;
  padding: 16px;
  background-color: var(--ifm-color-neutral-light-00);
  border: 1px solid var(--ifm-color-neutral-light-20);
  border-radius: 16px;
  box-sizing: border-box;
  transition: all 0.2s ease;
  text-decoration: none;
  overflow: hidden;
}

.card:hover {
  border-color: var(--ifm-card-hover);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1),
    0px 6px 12px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 8px;
  box-sizing: content-box;
  flex-shrink: 0;
}

.iconContainer i {
  font-size: 16px;
  color: var(--ifm-color-primary);
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  min-width: 0;
}

.title {
  font-family: "Inter Display", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0;
  color: var(--ifm-color-neutral-dark-90);
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

html[data-theme="dark"] .card {
  background-color: var(--ifm-color-neutral-dark-90);
  border-color: var(--ifm-color-neutral-mid-40);
}

html[data-theme="dark"] .card:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0px 0px 3px 0px rgba(255, 255, 255, 0.1),
    0px 6px 12px 0px rgba(0, 0, 0, 0.3);
}

html[data-theme="dark"] .title {
  color: #ffffff;
}

html[data-theme="dark"] .iconContainer i {
  color: var(--ifm-color-primary-light);
}

html[data-theme="dark"] .iconContainer {
  background-color: rgba(255, 255, 255, 0.05);
}
