/* stylelint-disable docusaurus/copyright-header */

.text_bold {
    font-weight: 700;
    font-size: 1rem;
}
  
.sectionImage1 {
    display: block;
    /* width: 100%; */
    height: auto;
}
  
.sectionImage1[data-theme-image='default'] {
    content: url('../../static/img/img1.png');
}
  
html[data-theme='dark'] .sectionImage1[data-theme-image='default'] {
    content: url('../../static/img/img1_dark.png');
}
  
.sectionImage2 {
    display: block;
    /* width: 100%; */
    height: auto;
}
  
.sectionImage2[data-theme-image='default'] {
    content: url('../../static/img/img2.png');
}
  
html[data-theme='dark'] .sectionImage2[data-theme-image='default'] {
    content: url('../../static/img/img2_dark.png');
}
  
.sectionImage3 {
    display: block;
    /* width: 100%; */
    height: auto;
}
  
.sectionImage3[data-theme-image='default'] {
    content: url('../../static/img/img3.png');
}
  
html[data-theme='dark'] .sectionImage3[data-theme-image='default'] {
    content: url('../../static/img/img3_dark.png');
}
  
.section {
    max-width: 74rem;
    padding: 14rem 2.5rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
  
.sectionContent img {
    max-height: 16rem;
}

.sectionBg {
    background-color: var(--ifm-color-bg-section);
}

@media screen and (max-width: 840px) {
    .section1, .section2, .section3 {
        padding: 7rem 0rem;
    }
}

@media screen and (max-width: 768px) {
    .section {
        max-width: 768px;
        margin: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0 auto;
    }

    .sectionImage1, .sectionImage2, .sectionImage3 {
        display: block;
        width: auto;
        height: auto;
    }

    .sectionContent {
        padding: 2.5rem 0;
    }
}
  
.sectionContent {
    max-width: 24rem;
}
  
.sectionContentTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Dark mode */
html[data-theme="dark"] .sectionBg {
    background-color: var(--ifm-color-neutral-dark-80);
}

html[data-theme="dark"] .sectionContentTitle {
    color: var(--ifm-color-neutral-light-00);
}

html[data-theme="dark"] .sectionContent p {
    color: var(--ifm-color-neutral-light-10);
}
